export BUILD_BASE_DOCKER_IMAGE
BUILD_BASE_DOCKER_IMAGE=codeghar/snapcraft:latest

export BUILD_DOCKER_IMAGE
BUILD_DOCKER_IMAGE=aikchar/snappython37:latest

export BUILD_CONTAINER_NAME
BUILD_CONTAINER_NAME=py37-snap-builder

export BUILD_CONTAINER_WORK_DIR
BUILD_CONTAINER_WORK_DIR=/build_root

export TEST_CONTAINER_NAME
TEST_CONTAINER_NAME=py37-snap-test

export TEST_CONTAINER_WORK_DIR
TEST_CONTAINER_WORK_DIR=/test

export TEST_CONTAINER_ARTIFACTS_DIR
TEST_CONTAINER_ARTIFACTS_DIR=/artifacts

export PYTHON37_VERSION
PYTHON37_VERSION=3.7.0b2

export TEST_DIR
TEST_DIR="$(pwd)"/test

export SNAP_DIR
SNAP_DIR="$(pwd)"/snap

export PYTHON_SNAP
PYTHON_SNAP=python37_"${PYTHON37_VERSION}"_amd64.snap
